.text-mono {
  font-family: monospace;
}

.flex-1-1-auto {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
}

.flex-1-0-auto {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 auto !important;
          flex: 1 0 auto !important;
}

.flex-0-1-auto {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 auto !important;
          flex: 0 1 auto !important;
}

.flex-0-0-auto {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 auto !important;
          flex: 0 0 auto !important;
}

.position-relative {
  position: relative !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

table > thead > tr > th,
table > tbody > tr > td {
  font-weight: 300 !important;
}
/*# sourceMappingURL=overrides.css.map */