/* -------------------------------- 
Variables
-------------------------------- */
/* -------------------------------- 
KCM Brand Colors
-------------------------------- */
/* -------------------------------- 
Default Background and Text Colors
-------------------------------- */
/* -------------------------------- 
Alert Colors
-------------------------------- */
/* -------------------------------- 
Default Colors
-------------------------------- */
.v-application .display-1,
.v-application .display-2,
.v-application .display-3,
.v-application .display-4,
.v-application .headline,
.v-application .title,
.v-application .subtitle-1,
.v-application .subtitle-2,
.v-application .body-1,
.v-application .body-2,
.v-application .caption,
.v-application .overline,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6 {
  font-family: "Open Sans", sans-serif !important;
}

.v-application .logo-font-bold {
  font-size: 1.8rem;
  font-weight: 900;
}

.v-application .logo-font-primary {
  color: #00aeef;
  font-size: 1.6rem;
}
/*# sourceMappingURL=variables.css.map */