<template>
  <material-card
    style="padding-bottom: 1rem;"
  >
    <v-card-text>
      <v-row
        align="center"
        no-gutters
      >
        <v-col
          cols="auto"
        >
          <v-list-item-title
            class="text-h3"
          >
            <span
              class="primary--text"
            >
              Categories
            </span>
          </v-list-item-title>
        </v-col>
      </v-row>
      <v-row>
        <v-divider />
      </v-row>
    </v-card-text>
    <v-checkbox
      v-for="(item, i) in items"
      :key="i"
      multiple
      :name="item.name"
      :label="item.name"
      :value="item.slug"
      :hide-details="index !== items.length - 1"
    />
  </material-card>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'CategoriesSelector',

    data: () => ({
      items: [],
      model: 'categories.name',
    }),

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        const { data } = await axios.get(
          'https://gca.keepingcurrentmatters.com/api/v1/industries/1/categories/',
          {
            params: {
              type: 'name',
            },
            auth: {
              username: 'kcmappdev',
              password: '54BKsFXZAZba3D',
            },
          },
        )

        this.items = data.categories
      },
    },
  }
</script>

<style lang='scss'>
.v-input--selection-controls__input {
      margin: 0 .7rem;
}
label.v-label.theme--light {
    color: #333 !important;
    font-size: 0.875rem !important;
}
</style>
