<template>
  <material-card>
    <v-card-text>
      <v-row
        align="center"
        no-gutters
      >
        <v-col
          cols="auto"
        >
          <v-list-item-title
            class="text-h3"
          >
            <span
              class="primary--text"
            >
              Content Type
            </span>
          </v-list-item-title>
        </v-col>
      </v-row>
      <v-row>
        <v-divider />
      </v-row>
    </v-card-text>
    <v-radio-group
      v-model="selected"
      class="radio-button-margin"
    >
      <v-radio
        v-for="(item, i) in items"
        :key="i"
        :name="item.name"
        :label="item.name"
        :value="item.slug"
      />
    </v-radio-group>
  </material-card>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'ContentTypeSelector',

    data: () => ({
      items: [],
      selected: 'blogs',
    }),

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        const { data } = await axios.get(
          'https://gca.keepingcurrentmatters.com/api/v1/content_types/',
          {
            params: {
              type: 'name',
            },
            auth: {
              username: 'kcmappdev',
              password: '54BKsFXZAZba3D',
            },
          },
        )

        this.items = data.content_types
      },
    },
  }
</script>

<style lang='scss'>
.radio-button-margin {
      margin: 0 .7rem;
}
label.v-label.theme--light {
    color: #333 !important;
    font-size: 0.875rem !important;
}
</style>
