<template>
  <v-row>
    <v-col
      cols="12"
    >
      <v-textarea
        v-model="excerpt[language]"
        outlined
        label="Description"
        clearable
        auto-grow
        class="tiptap-vuetify-editor__content"
      />
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'ContentDescription',
    props: {
      content: {
        type: String,
        default: '',
      },
      language: {
        type: String,
        default: 'en',
      },
      languages: {
        type: Array,
        default () { return [{ slug: '' }] },
      },
    },
    data: () => ({
      excerpt: {
        en: '',
        es: '',
      },
      manualExcerpt: {
        en: false,
        es: false,
      },
    }),
    watch: {
      content: function (newContent) {
        if (!this.manualExcerpt[this.language]) {
          this.excerpt[this.language] = this.strippedContent(newContent).split('. ')[0] + ('...')
        }
      },
      excerpt: {
        handler: function (newExcerpt) {
          if (newExcerpt[this.language] !== this.strippedContent(this.content.split('. ')[0] + ('...'))) {
            this.manualExcerpt[this.language] = true
          } else {
            this.manualExcerpt[this.language] = false
          }
        },
        deep: true,
      },
    },
    created: function () {
      for (let i = 0; i < this.languages.length; i++) {
        const lng = this.languages[i].slug

        this.excerpt[lng] = '...'
        this.manualExcerpt[lng] = false
      }
    },
    methods: {
      strippedContent: (string) => {
        return string.replace(/<\/?[^>]+>/ig, '')
      },
    },
  }
</script>
<style lang='scss'>
.v-application--is-ltr .v-text-field .v-label {
    margin: 0 0 0 0.7rem;
}
textarea#input-43{
  margin-left: 1rem;
}
</style>
