<template>
  <material-card
    id='featured'
    style='padding-bottom: 1rem;'
    class="mt-0"
  >
    <v-card-text>
      <v-row
        align="center"
        no-gutters
      >
        <v-col
          cols="auto"
        >
          <v-list-item-title
            class="text-h3"
          >
            <span
              class="primary--text"
            >
              Featured Image
            </span>
          </v-list-item-title>
        </v-col>
      </v-row>
      <v-row>
        <v-divider />
      </v-row>
    </v-card-text>
    <image-input
      v-model="featured"
    >
      <div
        slot="activator"
      >
        <v-featured-image-uploader
          v-if="!featured"
          v-ripple
          class="lighten-3 mb-3 center"
        >
          <span>
            Click to add an image
          </span>
        </v-featured-image-uploader>
        <v-featured-image-uploader
          v-else
          v-ripple
          size="100%"
          class="mb-3"
        >
          <img
            :src="featured.imageURL"
            alt="featured"
            class="image-contain"
          >
        </v-featured-image-uploader>
      </div>
    </image-input>
    <v-slide-x-transition>
      <div
        v-if="featured && saved == false"
      >
        <v-btn
          class="primary"
          :loading="saving"
          @click="uploadFeaturedImage"
        >
          Save Image
        </v-btn>
      </div>
    </v-slide-x-transition>
  </material-card>
</template>

<script>
  import ImageInput from '../utils/ImageUploader.vue'
  export default {
    name: 'FeaturedImage',
    components: {
      ImageInput: ImageInput,
    },
    data () {
      return {
        featured: null,
        saving: false,
        saved: false,
      }
    },
    watch: {
      featured: {
        handler: function () {
          this.saved = false
        },
        deep: true,
      },
    },
    methods: {
      uploadFeaturedImage () {
        this.saving = true
        setTimeout(() => this.savedFeaturedImage(), 1000)
      },
      savedFeaturedImage () {
        this.saving = false
        this.saved = true
      },
    },
  }
</script>

<style>
  #featured {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .image-contain {
    max-width: 100%;
  }
</style>
