<template>
  <v-row
    class="short-row"
  >
    <v-col
      sm="6"
      md="4"
      class="ml-auto"
      offset-md="2"
      lg="4"
      offset-lg="0"
    >
      <v-select
        v-model="selected"
        :items="languages"
        item-text="language"
        item-value="slug"
        label="Languages"
        dense
        outlined
        @change="updateLanguage()"
      />
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'LanguageDropdown',
    props: {
      language: {
        type: String,
        default: 'en',
      },
      languages: {
        type: Array,
        default () { return [{ slug: 'en' }] },
      },
    },
    data: () => ({
      selected: 'en',
      editLanguage: 'en',
    }),
    watch: {
      editLanguage: function () {
        this.$emit('update:language', this.editLanguage)
      },
    },
    created: function () {
      for (let i = 0; i < this.languages.length; i++) {
        const lng = this.languages[i].slug

        this.excerpt[lng] = '...'
        this.manualExcerpt[lng] = false
      }
    },
    methods: {
      updateLanguage: function () {
        this.editLanguage = this.selected
      },
    },
  }
</script>
<style lang='scss'>
.theme--light.v-select .v-select__selection--comma {
    font-size: small;
}
.v-select.v-text-field--outlined:not(.v-text-field--single-line).v-input--dense .v-select__selections {
    padding: 4px .7rem !important;
}
.short-row {
  padding:0 !important
}
</style>
