<template>
  <material-card>
    <v-card-text>
      <v-row
        align="center"
        no-gutters
      >
        <v-col
          cols="auto"
        >
          <v-list-item-title
            class="text-h3"
          >
            <span
              class="primary--text"
            >
              Publish
            </span>
          </v-list-item-title>
        </v-col>
      </v-row>
      <v-row>
        <v-divider />
      </v-row>
    </v-card-text>
    <v-list>
      <v-list-item-group
        v-model="model"
        no-action
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon
              v-text="item.icon"
            />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title
              v-text="item.text"
            />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <v-row
      justify="center"
    >
      <v-col
        cols="4"
      >
        <v-btn
          color="accent"
          min-width="100"
        >
          Draft
        </v-btn>
      </v-col>
      <v-col
        cols="4"
      >
        <v-btn
          color="accent"
          min-width="100"
        >
          Publish
        </v-btn>
      </v-col>
    </v-row>
  </material-card>
</template>
<script>

// Vuex
  import { get, sync } from 'vuex-pathify'

  export default {
    name: 'PostScheduling',

    data: () => ({
      items: [
        {
          icon: 'mdi-update',
          text: 'Status',
          value: 'Draft',
        },
        {
          icon: 'mdi-eye',
          text: 'Visibility',
          value: 'Public',
        },
        {
          icon: 'mdi-timetable',
          text: 'Schedule',
          value: '',
        },
      ],
      model: 0,
      computed: {
        ...sync('app', [
          'drawer',
          'drawerImage',
          'mini',
        ]),
        ...sync('user', [
          'drawer@gradient',
          'drawer@image',
        ]),
        ...get('posts', [
          'images',
          'gradients',
        ]),
        ...get('contentType', [
          'images',
          'gradients',
        ]),
      },
    }),
  }
</script>
