<template>
  <v-container fluid>
    <v-combobox
      :items="items"
      item-text="name"
      item-value="id"
      :search-input.sync="search"
      hide-selected
      label="Tags"
      multiple
      persistent-hint
      chips
      deletable-chips
    >
      <template v-slot:no-data>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-combobox>
  </v-container>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'TagSelectorCreator',

    data: () => ({
      items: [],
      search: null,
    }),

    watch: {
      model (val) {
        if (val.length > 5) {
          this.$nextTick(() => this.model.pop())
        }
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        const { data } = await axios.get(
          'https://gca.keepingcurrentmatters.com/api/v1/industries/1/tags/',
          {
            params: {
              type: 'name',
            },
            auth: {
              username: 'kcmappdev',
              password: '54BKsFXZAZba3D',
            },
          },
        )
        this.items = data.tags
      },
    },
  }
</script>

<style lang="scss">
  @import "../../styles/scss/utils/_variables.scss";
</style>

<style lang='scss'>
.theme--light.v-chip:not(.v-chip--active) {
    background-color: $kcm-green !important;
    color: $white;
}
.v-chip .v-chip__close.v-icon{
    color: $white;
}
.v-input--selection-controls__input {
      margin: 0 .7rem;
}
label.v-label.theme--light {
    color: #333 !important;
    font-size: 0.875rem !important;
}
</style>
