<template>
  <v-row>
    <v-col
      cols="12"
    >
      <v-text-field
        v-model="title[language]"
        class="title-field-margin"
        label="Add Title"
        clearable
      />
      <v-text-field
        v-model="slug"
        class="title-field-margin"
        label="Slug"
        :clearable="!fieldDisabled()"
        :disabled="fieldDisabled()"
        :outlined="fieldDisabled()"
        @blur="checkSlugFieldOnBlur()"
      />
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'TitleSlug',
    props: {
      language: {
        type: String,
        default: 'en',
      },
      languages: {
        type: Array,
        default () { return [{ slug: 'en' }] },
      },
    },
    data: () => ({
      title: {
        en: '',
        es: '',
      },
      slug: '',
      manualSlug: false,
    }),
    watch: {
      title: {
        handler: function (newTitle) {
          if (!this.manualSlug && this.language === 'en') {
            this.slug = this.strippedTitle(newTitle[this.language])
          }
        },
        deep: true,
      },
      slug: {
        handler: function (newSlug) {
          if (newSlug !== this.strippedTitle(this.title[this.language])) {
            this.manualSlug = true
          } else {
            this.manualSlug = false
          }
        },
      },
    },
    created: function () {
      for (let i = 0; i < this.languages.length; i++) {
        const lng = this.languages[i].slug

        this.excerpt[lng] = '...'
        this.manualExcerpt[lng] = false
      }
    },
    methods: {
      strippedTitle: (string) => {
        let slug = ''
        const regex = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/g
        // Change to lower case
        const titleLower = string.toLowerCase()
        // Parse punctuation
        slug = titleLower.replace(regex, '')
        // Trim the last whitespace
        slug = slug.replace(/\s*$/g, '')
        // Change whitespace to "-"
        slug = slug.replace(/\s+/g, '-')

        return slug
      },
      checkSlugFieldOnBlur: function () {
        if (this.slug === null) {
          this.slug = this.strippedTitle(this.title[this.language])
        }
      },
      fieldDisabled: function () {
        if (this.language === 'es') {
          return true
        }
      },
    },
  }
</script>
