<template>
  <v-container
    id="post-view"
    fluid
    tag="section"
  >
    <view-intro
      heading="Post"
      link="styles/typography"
    />
    <v-row justify="center">
      <v-col
        cols="12"
        md="8"
      >
        <material-card
          color="primary"
          icon="mdi-square-edit-outline"
        >
          <language-dropdown
            :language.sync="language"
            :languages="languages"
          />
          <title-slug
            :language="language"
            :languages="languages"
          />
          <content-editor
            :content.sync="content[language]"
          />
        </material-card>
        <material-card>
          <content-description
            :content="content[language]"
            :language="language"
            :languages="languages"
          />
          <tag-selector-creator />
        </material-card>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <post-scheduling />
        <content-type-selector />
        <categories-selector />
        <featured-image />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>

  import axios from 'axios'

  export default {
    name: 'PostView',
    data: () => ({
      content: {
        en: '',
        es: '',
      },
      language: 'en',
      languages: '',
    }),
    created () {
      this.initializeLanguage()
    },
    methods: {
      async initializeLanguage () {
        const { data } = await axios.get(
          'https://gca.keepingcurrentmatters.com/api/v1/languages',
          {
            params: {
              type: 'language',
            },
            auth: {
              username: 'kcmappdev',
              password: '54BKsFXZAZba3D',
            },
          },
        )

        this.languages = data.languages
      },
    },
  }
</script>

<style lang='scss'>
.title-field-margin {
      margin: 0 .7rem;
}
.tiptap-vuetify-editor {
  padding-bottom: 0.9rem;
}
.v-text-field--outlined fieldset{
      margin: 0 .7rem;
}
</style>
