<template>
  <v-container
    id="edit-post-view"
    fluid
    tag="section"
  >
    <view-intro
      heading="Edit Posts"
      link="components/simple-tables"
    />

    <material-card
      icon="mdi-note"
      icon-small
      title="Edit Posts"
      color="accent"
    >
      <v-data-table
        :headers="headers"
        :items="posts"
      >
        <template v-slot:top>
          <v-toolbar
            flat
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
              >
                <router-link
                  to="/components/add-new-post"
                >
                  <v-btn
                    color="primary"
                    dark
                    class="mb-4 link-button"
                  >
                    Add New Post
                  </v-btn>
                </router-link>
              </v-col>
            </v-row>
            <v-spacer />
            <v-dialog
              v-model="dialog"
              max-width="500px"
            >
              <v-card>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                      >
                        <v-img
                          :eager="true"
                          :src="editedPost.featured_image"
                          label="Featured Image"
                        />
                      </v-col>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                      >
                        <v-text-field
                          v-model="editedPost.title"
                          label="Title"
                        />
                      </v-col>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                      >
                        <v-textarea
                          v-model="editedPost.contents"
                          label="Content"
                        />
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedPost.created_at"
                          label="Created"
                          disabled
                        />
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    color="$kcm-blue"
                    text
                    @click="close"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="$kcm-blue"
                    text
                    @click="save"
                  >
                    Save
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog
              v-model="dialogDelete"
              max-width="500px"
            >
              <v-card>
                <v-card-title
                  class="text-h5"
                >
                  Are you sure you want to delete this item?
                </v-card-title>
                <v-card-actions>
                  <v-spacer />
                  <v-btn
                    color="$kcm-blue"
                    text
                    @click="closeDelete"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    color="$kcm-blue"
                    text
                    @click="deletePostConfirm"
                  >
                    OK
                  </v-btn>
                  <v-spacer />
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="editPost(item)"
          >
            mdi-pencil
          </v-icon>
          <v-icon
            small
            @click="deletePost(item)"
          >
            mdi-delete
          </v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn
            color="primary"
            @click="initialize"
          >
            Reset
          </v-btn>
        </template>
      </v-data-table>
    </material-card>
  </v-container>
</template>

<script>

  import axios from 'axios'

  export default {
    name: 'EditPost',
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          sortable: false,
          text: 'Title',
          value: 'title',
        },
        {
          sortable: false,
          text: 'Status',
          value: 'status',
          align: 'right',
        },
        {
          sortable: true,
          text: 'Created',
          value: 'created_at',
          align: 'right',
          dataType: 'Date',
        },
        {
          sortable: true,
          text: 'Published',
          value: 'published_at',
          align: 'right',
          dataType: 'Date',
        },
        {
          sortable: false,
          text: 'Updated',
          value: 'updated_at',
          align: 'right',
          dataType: 'Date',
        },
        {
          sortable: false,
          text: 'Actions',
          value: 'actions',
          align: 'right',
        },
      ],
      posts: [],
      editedIndex: -1,
      editedPost: {
        featured_image: 'content.featured_image',
        title: 'content.title',
        content: 'content.contents',
        status: 'content.status',
        slug: 'content.slug',
        created_at: 'content.created_at',
        published_at: 'content.published_at',
        updated_at: 'content.updated_at',

      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        const { data } = await axios.get(
          'https://gca.keepingcurrentmatters.com/api/v1/industries/1/content/',
          {
            params: {
              type: 'blogs',
            },
            auth: {
              username: 'kcmappdev',
              password: '54BKsFXZAZba3D',
            },
          },
        )

        this.posts = data.content

        console.log(this.posts)
      },

      editPost (item) {
        console.log(item)
        this.editedIndex = this.posts.indexOf(item)
        this.editedPost = Object.assign({}, item)
        this.dialog = true
      },

      deletePost (item) {
        this.editedIndex = this.posts.indexOf(item)
        this.editedPost = Object.assign({}, item)
        this.dialogDelete = true
      },

      deletePostConfirm () {
        this.posts.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedPost = Object.assign({}, this.defaultPost)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedPost = Object.assign({}, this.defaultPost)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.posts[this.editedIndex], this.editedPost)
        } else {
          this.posts.push(this.editedPost)
        }
        this.close()
      },
    },
  }
</script>

<style lang="scss">
  @import "../styles/scss/utils/_variables.scss";
</style>
<style lang='scss'>
    span {
      color: '#00aeef' !important;
    }
  @media (min-width: 960px){
    .link-button {
      margin-left: 63vw;
    }
  }
</style>
