/* -------------------------------- 
Typography
-------------------------------- */

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: 'Open Sans';
    src: url('/open-sans/OpenSans-regular.eot');
    src: url('/open-sans/OpenSans-regular.eot?#iefix')
        format('embedded-opentype'),
      url('/open-sans/OpenSans-regular.woff') format('woff'),
      url('/open-sans/OpenSans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Open Sans', '/open-sans/OpenSans-Regular');
@include font('Open Sans-Bold', '/open-sans/OpenSans-Bold');

:root {
  --font-size--small: prem(14); /* 14px */
  --font-size--default: prem(16); /* 16px */
  --font-size--large: prem(24); /* 24px */
  --font-size--h1: prem(32); /* 32px */
  --font-size--h2: prem(24); /* 24px */
  --font-size--h3: prem(18.72); /* 18.72px */
  --font-size--h4: prem(16); /* 16px */
  --font-size--h5: prem(13.28); /* 13.28px */
  --font-size--h6: prem(10.72); /* 10.72px */
  --font-primary: 'Open Sans';
  --font-secondary: sans-serif;

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
}

.font-size--small {
  font-size: var(--font-size--small);
}

.font-size--default {
  font-size: var(--font-size--default);
}

.font-size--large {
  font-size: var(--font-size--large);
}

@include breakpoint(md) {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

body {
  font-size: var(--font-size--default);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  line-height: var(--heading-line-height);
}

/* text size */

h1 {
  font-size: var(--font-size--h1);
}

h2 {
  font-size: var(--font-size--h2);
}

h3 {
  font-size: var(--font-size--h3);
}

h4 {
  font-size: var(--font-size--h4);
}

h5 {
  font-size: var(--font-size--h5);
}

h6 {
  font-size: var(--font-size--h6);
}

p {
  line-height: var(--body-line-height);
}

a {
  color: var($kcm-blue);

  &:hover {
    color: var($kcm-orange);
  }

  &:visited {
    color: var($kcm-green);
  }
}

b,
strong {
  font-weight: 700;
}

h2,
h3,
h4 {
  margin-top: var(--space-sm);
}

ul,
ol,
p {
  margin-bottom: var(--space-md);
}

ul,
ol {
  list-style-position: outside;
  padding-left: 24px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul li,
ol li {
  line-height: var(--body-line-height);
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/* utility classes */
.truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
