/* -------------------------------- 
Variables
-------------------------------- */

/* -------------------------------- 
KCM Brand Colors
-------------------------------- */

$kcm-blue: #00aeef;
$kcm-orange: #ff8300;
$kcm-green: #73c45a;

/* -------------------------------- 
Default Background and Text Colors
-------------------------------- */

$white: #fff;
$black: #000;
$lightgray: #ccd5d8;
$darkgray: #313940;

/* -------------------------------- 
Alert Colors
-------------------------------- */
$success: #598043;
$warning: #ffde59;
$error: #e93e51;

/* -------------------------------- 
Default Colors
-------------------------------- */
