<template>
  <div>
    <!-- Use the component in the right place of the template -->
    <tiptap-vuetify
      v-model="editContent"
      :extensions="extensions"
      placeholder="Write something..."
    />
  </div>
</template>

<script>
// import the component and the necessary extensions
  import {
    TiptapVuetify,
    Heading,
    Bold,
    Italic,
    Strike,
    Underline,
    Code,
    Paragraph,
    BulletList,
    OrderedList,
    ListItem,
    Link,
    Blockquote,
    HardBreak,
    HorizontalRule,
    History,
    TableRow,
    TableCell,
    TableHeader,
    Image,
  } from 'tiptap-vuetify'

  export default {
    // specify TiptapVuetify component in "components"
    name: 'ContentEditor',
    components: { TiptapVuetify },
    props: {
      content: {
        type: String,
        default: '',
      },
    },
    data: () => ({
      // declare extensions you want to use
      extensions: [
        History,
        Blockquote,
        Link,
        Underline,
        Strike,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        [
          Heading,
          {
            options: {
              levels: [1, 2, 3],
            },
          },
        ],
        Bold,
        Code,
        HorizontalRule,
        Paragraph,
        HardBreak,
        TableCell,
        TableHeader,
        TableRow,
        Image,
      ],
      editContent: '',
    }),
    watch: {
      content: function (newContent) {
        this.editContent = newContent
      },
      editContent: function (newContent) {
        this.$emit('update:content', newContent)
      },
    },
  }
</script>

<style lang='scss'>
div.v-card.v-sheet.theme--light {
      margin: 0 .7rem;
}
div.ProseMirror {
  height: 50vh;
  padding: .5rem;
  overflow: auto;
}
</style>
